.pcfCustomField {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0px;
  padding-top: 0px;
  line-height: 2.5rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-overflow: ellipsis;
  margin-left: 0px;
  margin-right: 0px;
  color: rgb(0, 0, 0);
  -webkit-appearance: none;
}

.pcfCustomField::placeholder {
  font-size: .8rem;
  font-weight: 400;
  color: #777;
  font-style: italic;
}

.pcfCustomField::placeholder:focus {
  color: rgba(0, 0, 0, 0)
}

.pcfCustomField:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(102, 102, 102);
}

.pcfCustomField:focus {
  background-color: rgb(255, 255, 255);
  border-color: rgb(102, 102, 102);
}

.pcfCustomOptionList {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0px;
  padding-top: 0px;
  line-height: 2.5rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-overflow: ellipsis;
  margin-left: 0px;
  margin-right: 0px;
  color: rgb(0, 0, 0);
  -webkit-appearance: none;
}